<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
  <test name="Personal">
    <classes>
      <class name="testNgPack.Test1"/>
      <class name="testNgPack.Test2"/>
    </classes>
  </test> 
  <test name="Car Test">
	  <classes>
		  <class name="testNgPack.Test3"></class>
	  </classes>
  </test>
</suite> 
